In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [11]:
df = pd.read_csv('../../movielens/ml-100k/u.data', sep='\t', header=None)

In [12]:
df = df.select_dtypes(exclude=['floating'])

In [13]:
df = df.iloc[:, :3]

In [14]:
df

         0     1  2
0      196   242  3
1      186   302  3
2       22   377  1
3      244    51  2
4      166   346  1
5      298   474  4
6      115   265  2
7      253   465  5
8      305   451  3
9        6    86  3
10      62   257  2
11     286  1014  5
12     200   222  5
13     210    40  3
14     224    29  3
15     303   785  3
16     122   387  5
17     194   274  2
18     291  1042  4
19     234  1184  2
20     119   392  4
21     167   486  4
22     299   144  4
23     291   118  2
24     308     1  4
25      95   546  2
26      38    95  5
27     102   768  2
28      63   277  4
29     160   234  5
...    ...   ... ..
99970  449   120  1
99971  661   762  2
99972  721   874  3
99973  821   151  4
99974  764   596  3
99975  537   443  3
99976  618   628  2
99977  487   291  3
99978  113   975  5
99979  943   391  2
99980  864   685  4
99981  750   323  3
99982  279    64  1
99983  646   750  3
99984  654   370  2
99985  617   582  4
99986  913   690  3
99987  660   229  2
99988  421   498  4
99989  495  1091  4
99990  806   421  4
99991  676   538  4
99992  721   262  3
99993  913   209  2
99994  378    78  3
99995  880   476  3
99996  716   204  5
99997  276  1090  1
99998   13   225  2
99999   12   203  3

[100000 rows x 3 columns]

In [15]:
ohe = OneHotEncoder(sparse=False)

In [16]:
ohe.fit(df)

OneHotEncoder(categorical_features='all', dtype=<class 'numpy.float64'>,
       handle_unknown='error', n_values='auto', sparse=False)

In [17]:
dense = ohe.transform(df)

In [26]:
import numpy as np

In [27]:
new_df = pd.DataFrame(dense, dtype=np.uint32)

In [29]:
new_df.to_csv('../../movielens/ml-100k/u.data.ohe', sep='\t')